<h1>Log In</h1>

<%= form_with sessions_path do |form| %>
  <div class="field">
    <%= form.label_tag :email %><br />
    <%= form.text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= form.label_tag :password %><br />
    <%= form.password_field_tag :password %>
  </div>
  <div class="actions">
    <%= form.submit_tag "Log In" %>
  </div>
<% end %>