<h1>Listing blogs</h1>


<%= link_to 'New Blog', new_blog_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.text %></td>
      <td><%= blog.user.email %></td>
      <td><%= link_to 'Show', blog_path(blog) %></td>
      <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
      <td><%= link_to 'Delete', blog_path(blog),
                method: :delete,
                data: { confirm: "Are you sure?"}%></td>
    </tr>
  <% end %>
</table>